@import 'github-markdown-css/github-markdown-light.css';
@import 'highlight.js/styles/github.css';

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main {
    max-width: 900px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}